USERNAME: your_console_username
PASSWORD: your_hashed_console_password
ETEREUM_NODE_URL: your_ethereum_node_url
WETH_ADDRESS: "0xC02aaA39b223FE8D0A0E5C4F27eAD9083C756Cc2"
UNISWAP_V2_FACTORY_ADDRESS: "0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f"
UNISWAP_V3_FACTORY_ADDRESS: "0x1F98431c8aD98523631AE4a59f267346ea31F984"
CHAINLINK_ETH_USD_FEED: "0x5f4ec3df9cbd43714fe2740f5e3616155c5b8419"
WALLET_PRIVATE_KEY: your_wallet_private_key
AMOUNT_OF_ETH: 1
MOONBAG: 0.2
BASE_FEE_MULTIPLIER: 1.1
PRIORITY_FEE_MULTIPLIER: 1.1
TOTAL_FEE_MULTIPLIER: 1.1
SLIPPAGE_TOLERANCE: 0.49
PRICE_INCREASE_THRESHOLD: 100
PRICE_DECREASE_THRESHOLD: 15
NO_CHANGE_THRESHOLD_PERCENT: 5
NO_CHANGE_TIME_MINUTES: 5
MIN_MARKET_CAP: 0
MAX_MARKET_CAP: 500000000
MTB_TELEGRAM_BOT_TOKEN: your_mtb_telegram_bot_token
MTB_CHAT_ID: "your_mtb_telegram_chat_id"
MTdB_TELEGRAM_BOT_TOKEN: your_mtdb_telegram_bot_token
MTdB_CHAT_ID: "your_mtdb_telegram_chat_id"
SEND_TELEGRAM_MESSAGES: true
ALLOW_SWAP_MESSAGES_ONLY: true
ALLOW_AGGREGATED_MESSAGES_ALSO: true
ALLOW_MTDB_INTERACTION: true
ALLOW_MULTIPLE_TRANSACTIONS: true
ENABLE_MARKET_CAP_FILTER: true
ENABLE_PRICE_CHANGE_CHECKER: true
ENABLE_TRADING: true
ADDRESSES_TO_MONITOR:
  "address": name
  "address2": name2
  ...