<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='MBC.png') }}" type="image/x-icon">
    <title>Moneytree Bot Console</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='MBC.png') }}" alt="MBC">
        <h1>Moneytree Bot Console</h1>
        <form action="{{ url_for('logout') }}" method="POST" class="logout-form">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>

    <!-- Tab Navigation -->
    <div class="tabs">
        <button class="tab-button active" data-target="homePanel">Home</button>
        <button class="tab-button" data-target="MTBPanel">MTB</button>
        <button class="tab-button" data-target="MTdBPanel">MTdB</button>
        <button class="tab-button" data-target="Statistics">Statistics</button>
        <button class="tab-button" data-target="configPanel">Settings</button>
    </div>

    <div class="content-container">
        <!-- Home Panel (Default) -->
        <div class="tab-content no-panel" id="homePanel">
            <div class="image-container">
                <img src="{{ url_for('static', filename='cropped-MBC.png') }}" alt="MBC" class="front-image">
                <img src="{{ url_for('static', filename='cropped-MTB.png') }}" alt="MTB" class="middle-image">
                <img src="{{ url_for('static', filename='cropped-MTdB.png') }}" alt="MTdB" class="back-image">
            </div>
        </div>

        <!-- MTB Logs Panel -->
        <div class="tab-content" id="MTBPanel" style="display: none;">
            <div class="control-panel">
                <div class="panel-header">
                    <img src="{{ url_for('static', filename='MTB.png') }}" alt="MTB">
                    <h2>MTB</h2>
                    <span id="StatusIndicator" style="float: right; display: flex; align-items: center;">
                        <div class="spinner" id="mtbSpinner" style="display: none;"></div> <!-- MTB Spinner -->
                        <div id="statusLight" style="width: 15px; height: 15px; border-radius: 50%; margin-right: 5px; background-color: grey;"></div>
                        <span id="statusText">Checking...</span>
                    </span>
                </div>
                <button onclick="startMTB()">Start MTB</button>
                <button onclick="stopMTB()">Stop MTB</button>
                <button onclick="restartMTB()">Restart MTB</button>
                <div class="log-container" id="logContainerMTB">
                    <pre id="logOutput"></pre> <!-- MTB log output -->
                </div>
            </div>
        </div>

        <!-- MTdB Logs Panel -->
        <div class="tab-content" id="MTdBPanel" style="display: none;">
            <div class="control-panel">
                <div class="panel-header">
                    <img src="{{ url_for('static', filename='MTdB.png') }}" alt="MTdB">
                    <h2>MTdB</h2>
                    <span id="StatusIndicator" style="float: right; display: flex; align-items: center;">
                        <div class="spinner" id="mtdbSpinner" style="display: none;"></div> <!-- MTdB Spinner -->
                        <div id="mtdbStatusLight" style="width: 15px; height: 15px; border-radius: 50%; margin-right: 5px; background-color: grey;"></div>
                        <span id="mtdbStatusText">Checking...</span>
                    </span>
                </div>
                <button onclick="startMTdB()">Start MTdB</button>
                <button onclick="stopMTdB()">Stop MTdB</button>
                <button onclick="restartMTdB()">Restart MTdB</button>
                <div class="log-container" id="logContainerMTdB">
                    <pre id="logOutputMTdB"></pre> <!-- MTdB log output -->
                </div>
            </div>
        </div>

        <div class="tab-content" id="Statistics" style="display: none;">
            <div class="control-panel">
                <div class="panel-header">
                    <img src="{{ url_for('static', filename='chart.png') }}" alt="Chart">
                    <h2>Statistics</h2>
                    <div class="spinner-container">
                        <div class="spinner" id="statisticsSpinner" style="display: none;"></div>
                    </div>
                </div>
                <div class="centered-table">
                    <table id="transactionTable">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Post Hash</th>
                                <th>Wallet Name</th>
                                <th>Token Symbol</th>
                                <th>Amount of ETH</th>
                                <th>Status</th>
                                <th>No-Buy Reason</th>
                                <th>Profit/Loss</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        

        <!-- Settings Panel -->
        <div class="tab-content" id="configPanel" style="display: none;">
            <div class="container">
                <div class="panel-header">
                    <img src="{{ url_for('static', filename='wrench.png') }}" alt="Wrench">
                    <h2>Settings</h2>
                </div>
                <form action="{{ url_for('update') }}" method="post">
                    {% include 'form-fields.html' %}
                    <input type="submit" value="Update Settings">
                </form>
            </div>
        </div>
    </div>

    <!-- Reference external JS file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>